@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    box-sizing: border-box;
  
}
body{
    text-align: center;
    background: url('../images/background.jpg');
    font-family: 'Raleway', sans-serif;
}
.box{
    width: 100%;
    height: 450px;
    background: #e9ecef;
    border: 3px solid grey;
    margin-top: 60px;
    border-radius: 10px;

 
}
.select-description{
   border-bottom: 2px solid gray;
   margin: 10px;
   padding-bottom: 15px;
}

.display-picked{
    margin-top: 125px;
    visibility: hidden;
    margin-bottom: 20px;  
    height: auto 
}
#start{
    width: 150px;
    margin-bottom: 20px;
}

#display-time-left{
    border-bottom: 3px solid gray;
    
}
.choices-button{
    border-radius: 20px;
    background: #e9ecef;
    width: 40%;
    margin: 20px;
    padding: 20px;
}
.choices-button:hover{
    background: #8ac9d6;
}

.hide-2{
    display: none;

}
.modal-header{
    text-align: center;
}
#next-question{
    display: none;
    margin: 0 auto;
}
.jumbotron{
    padding: 2rem 1rem;
}
#display-time-left{
    padding: 20px;
}
