*{
    box-sizing: border-box;
}
body{
    text-align: center;
}
.box{
    width: 100%;
    height: auto;
    background: #e9ecef;
    border: 3px solid grey;

 
}
.select-description{
   border-bottom: 2px solid gray;
   margin: 10px;
   padding-bottom: 15px;
}

.display-picked{
    margin-top: 125px;
    visibility: hidden;
    margin-bottom: 20px;   
}
#start{
    width: 150px;
    margin-bottom: 20px;
}

#display-time-left{
    border-bottom: 3px solid gray;
    
}
.choices-button{
    border-radius: 20px;
    background: #e9ecef;
}

.hide-2{
    display: none;

}
.modal-header{
    text-align: center;
}
#next-question{
    display: none;
    margin: 0 auto;
}

